/*
Adult novel : #b0ddb0
Young adult novel : #ddb0b0
Comics : #00dcff
eBook : #ffffb0
Short story collection : #e0b0ff
Not published : #99badd

Red : #ff3333
Green : #3deb3d
Grey: #e6e6e6
Blue: #6699cc
*/

/* -- Bases -- */

* {
    margin: 0;
    padding: 0;

    border: none;
    outline: none;
}

html {
    overflow-y: scroll;
}

body {
    font: 62.5%/1.6em Tahoma, Arial, Verdana, Helvetica, sans-serif;
    color: #000000;
}

h1 {
    color: #f8990c;
    font-size: 18pt;
    text-shadow: #666666 0.025cm 0.025cm 0.05cm;
    margin-bottom: 2%;
}

h2 {
    color: #336699;
    margin: 5% 0 2% 0;
    font-size: 14pt;
    text-align: left;
    text-shadow: #666666 0.025cm 0.025cm 0.05cm;
}

p, ul, ol, dl {
    margin-bottom: 20px;
}

p, ul li, ol li, dl dt, dl dd {
    line-height: 16pt;
}


/* -- Tools -- */

.spacer {
    clear: both;
    font-size: 1px;
}

.red { background-color: #ff3333; }
.green { background-color: #3deb3d; }
.publish { background-color: #d1d1d1; }

.floatL { float: left; }
.floatR { float: right; }

.textL { text-align: left; }
.textR { text-align: right; }
.textC { text-align: center; }
.textJ { text-align: justify; }

.clear { clear: both; font-size: 0; }
.clearL { clear: left; }
.clearR { clear: right; }

.center { text-align: center; }

.italic { font-style: italic; }
.noWrap { white-space: nowrap; }

.marginTop { margin-top: 20px; }
.marginTopMini { margin-top: 10px; }
.marginTopBig { margin-top: 40px; }
.marginTopZero { margin-top: 0; }

.marginRight { margin-right: 20px; }
.marginRightMini { margin-right: 10px; }
.marginRightBig { margin-right: 40px; }
.marginRightZero { margin-right: 0; }

.marginBottom { margin-bottom: 20px; }
.marginBottomMini { margin-bottom: 10px; }
.marginBottomBig { margin-bottom: 40px; }
.marginBottomZero { margin-bottom: 0; }

.marginLeft { margin-left: 20px; }
.marginLeftMini { margin-left: 10px; }
.marginLeftBig { margin-left: 40px; }
.marginLeftZero { margin-left: 0; }

ul.inline-list, ul.inline-list li {
    display: inline;
}
ul.inline-list li:after {
    content: ", ";
}
ul.inline-list li:last-child:after {
    content: "";
}

/* -- Wrappers -- */

#global {
    width: 968px;
    margin: 1% auto;
    border: 1px #6699cc solid;
    font-size: 11pt;
    background-color: #f5f8fc;
}

#content {
    margin: 2%;
}


/* -- Contents -- */

#content dl.editors dt {
    float: left;
    width: 50px;
}

#content ul.legend {
    height: 47px;
    list-style: none;
    margin-left: 0;
    border-left: 1px #6699cc solid;
}

#content ul.legend li {
    float: left;
    width: 14.5%;
    height: 45px;
    padding: 0 1%;
    border: 1px #6699cc solid;
    text-align: center;
    line-height: 45px;
    border-left: none;
}

#content ul.legend li.adult,
#content table.books-list tbody tr td.adult { background-color: #b0ddb0; }
#content ul.legend li.young,
#content table.books-list tbody tr td.young { background-color: #ddb0b0; }
#content ul.legend li.comic,
#content table.books-list tbody tr td.comic { background-color: #00dcff; }
#content ul.legend li.ebook,
#content table.books-list tbody tr td.ebook { background-color: #ffffb0; }
#content ul.legend li.story,
#content table.books-list tbody tr td.story { background-color: #e0b0ff; }


/* -- Shortcuts to eras -- */

#content ul.shortcuts {
    list-style: none;
}

#content ul.shortcuts li {
    height: 30px;
    line-height: 30px;
    margin-bottom: 4px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

#content ul.shortcuts li a {
    color: #000000;
    padding-left: 40px;
    text-decoration: none;
}

#content ul.shortcuts li.beforeRepublic,
#content table.books-list thead.era-header tr th.beforeRepublic { background-image: url('../images/eras/before_republic.png'); }
#content ul.shortcuts li.oldRepublic,
#content table.books-list thead.era-header tr th.oldRepublic { background-image: url('../images/eras/old_republic.png'); }
#content ul.shortcuts li.riseEmpire,
#content table.books-list thead.era-header tr th.riseEmpire { background-image: url('../images/eras/rise_empire.png'); }
#content ul.shortcuts li.rebellion,
#content table.books-list thead.era-header tr th.rebellion { background-image: url('../images/eras/rebellion.png'); }
#content ul.shortcuts li.newRepublic,
#content table.books-list thead.era-header tr th.newRepublic { background-image: url('../images/eras/new_republic.png'); }
#content ul.shortcuts li.newJediOrder,
#content table.books-list thead.era-header tr th.newJediOrder { background-image: url('../images/eras/new_jedi_order.png'); }
#content ul.shortcuts li.legacy,
#content table.books-list thead.era-header tr th.legacy { background-image: url('../images/eras/legacy.png'); }
#content ul.shortcuts li.other,
#content table.books-list thead.era-header tr th.other { background-image: url('../images/eras/other.png'); }


/* -- Books List -- */

#content table.books-list {
    font-size: 10pt;
    width: 100%;
    border-collapse: collapse;
}

#content table.books-list td.book-title {
    line-height: 16px;
}

#content table.books-list td img {
    margin-left: 5px;
    display: inline-block;
    vertical-align: bottom;
}

#content table.books-list thead.main-header tr th {
    text-align: center;
    padding-bottom: 10px;
}

/* -- DON'T TOUCH THIS, IT'S SENSITIVE ! -- */
#content table.books-list thead.main-header tr th.timeline { width: 16%; }
#content table.books-list thead.main-header tr th.title { width: 38%; }
#content table.books-list thead.main-header tr th.author { width: 20%; }
#content table.books-list thead.main-header tr th.voe { width: 5%; }
#content table.books-list thead.main-header tr th.vfe { width: 5%; }
#content table.books-list thead.main-header tr th.vo { width: 4%; }
#content table.books-list thead.main-header tr th.vor { width: 4%; }
#content table.books-list thead.main-header tr th.vf { width: 4%; }
#content table.books-list thead.main-header tr th.vfr { width: 4%; }
/* -- END OF WARNING -- */

#content table.books-list thead.era-header tr th {
    height: 40px;
    border: 1px #6699cc solid;
    font-size: 12pt;
    text-align: left;
    padding-left: 45px;
    background: #e6e6e6 no-repeat 6px center;
}

#content table.books-list thead.era-header tr th a {
    color: #000000;
    text-decoration: none;
}

#content table.books-list tbody tr td {
    padding: 5px;
    border: 1px #6699cc solid;
}

#content table.books-list tbody tr td.little {
    padding: 0;
    text-align: center;
}
