{#
 # Display the right number of icons for the number of books owned / read
 #}
{% macro displayIcons(nb) %}
    {% if 0 == nb %}
        <small>
            <span class="glyphicon glyphicon-remove"></span>
        </small>
    {% else %}
        {% set loop = 1..(nb) %}
        {% for i in loop %}<small>{% endfor %}
        {% for i in loop %}
            <span class="glyphicon glyphicon-ok"></span>
        {% endfor %}
        {% for i in loop %}</small>{% endfor %}
    {% endif %}
{% endmacro %}
